.row

  .span8
    .hero-unit
      %h1 Customer development prototyping board
      %br/
      %p A place for us to investigate, test and follow-up on prototypes quickly.
      
  .span3.lead
    We could use this app to build quick prototypes, summarize data from interviews, etc. It would basically be our one-stop shop for customer development prototyping.
