= render 'layouts/prototypes_menu'

.row-fluid

  .span8
    .hero-unit
      %h1 "Communication is not what a company says, it's everything else it does."
      
  .span2.offset2.lead
    

.row-fluid
  .span4
    %h3
      I'd really like to work for you. Can we talk?
  .span4
    .btn.btn-large.btn-danger No I'm not interested
    .btn.btn-large.btn-success Sure it'd be great!
