= render 'layouts/prototypes_menu'

.row
  .span8
    .row
      .span8
        .hero-unit
          %h1 “People are capable, at any time in their lives, of doing what they dream of.” 
          %br/
          %p ― Paulo Coelho, The Alchemist
    .row
      .span4
        %h3
          I'd really like to work for you. Can we talk?
      .span4
        .btn.btn-large.btn-primary.btn-danger No, not interested
        .btn.btn-large.btn-success Yes it'd be great!
 
  .span4
    .row
      .span1
        = image_tag 'profile_pic.jpg'
      .span3
        %h3 Wansa Sooksomwat
        %p Amsterdam, Netherlands
    %br/
    .row
      .span4.lead
        Junior communication & marketing executive
    .row
      .span4
        %span.label.label-inverse EVENT PLANNING
        %span.label.label-inverse EXTERNAL COMMUNICATION
        %span.label.label-inverse WRITING
        %span.label.label-inverse ATTENTION TO DETAILS
        %span.label.label-inverse ORGANIZATION
        %span.label.label-inverse GOOD TEAM MATE
        %span.label.label-inverse TRAVEL
        %span.label.label-inverse CINEMA
        %span.label.label-inverse READING
    %br/
    .row
      .span2
        %span.label.label-warning Most relevant experience
        %br/
        .lead Assistant marketing & communication
      .span2
        %span.label.label-warning Highest education
        %br/
        .lead HBO Bachelor in Communication & Media
    .row
      .span2.offset2
        %span.label.label-warning Elsewhere online
        .btn.service LinkedIn
        .btn.service Twitter
        .btn.service Tumblr