= render 'layouts/prototypes_menu'

.row
  .span8
    .row
      .span8
        .hero-unit
          %h1 "Communication is not what a company says, it's everything else it does."
    .row
      .span4
        %h3
          I'd really like to work for you. Can we talk?
      .span4
        .btn.btn-large.btn-danger No I'm not interested
        .btn.btn-large.btn-success Yes it'd be great!
  .span4
    .row
      .span1
        = image_tag 'profile_pic.jpg'
      .span3
        %h3 Wansa Sooksomwat
        %p Amsterdam, Netherlands
        %span.label.label-success Available and eager to learn!
    %br/
    .row
      .span4.lead
        Junior communication & marketing executive
    %br/
    .row
      .span4
        %span.label.label-inverse EVENT PLANNING
        %span.label.label-inverse EXTERNAL COMMUNICATION
        %span.label.label-inverse WRITING
        %span.label.label-inverse ATTENTION TO DETAILS
        %span.label.label-inverse ORGANIZED
        %span.label.label-inverse TEAM PLAYER
        %span.label.label-inverse TRAVEL
        %span.label.label-inverse CINEMA
        %span.label.label-inverse READING
    %br/
    %br/
    .row
      .span2
        %span.label.label-warning MOST RELEVANT EXP.
        %br/
        .lead Assistant marketing & communication
      .span2
        %span.label.label-warning HIGHEST EDUCATION
        %br/
        .lead HBO Bachelor in Communication & Media
    %br/
    %br/
    .row
      .span2.offset2
        %span.label.label-warning ELSEWHERE ONLINE
        %br/
        %br/
        .btn LinkedIn
        .btn Tumblr
        .btn Twitter
        .btn Instagram
        .btn Facebook
          
