.span2.offset1
  %ul.nav.nav-list.well
    %li.nav-header
      %i.icon-wrench
      Toolbox
    %br/
    %li
      %a
        .btn.btn-small.btn-danger No
        .btn.btn-small.btn-success Yes
    %br/
    %li
      %a
        .input-append{ :style => 'margin:0' }
          %input.span1{ :type => 'text' }
          .btn.btn-small.btn-primary{ :type => 'button', :style => 'margin-left:-5px' } Send
    %br/
    %li
      %a
        .btn.btn-small
          %i.icon-download
          Download my CV
    %br/
    %li
      %a
        .btn.btn-small
          %i.icon-share
          Share my profile
    %br/
    %li
      %a
        %i.icon-link
        Link
