%ul.nav.nav-list.well
  .control-group
    .controls
      %select#select01.span2{ :onchange => "filter_role()"}
        %option{ :value =>'0' } All roles
        %option{ :value =>'1' } Open applications
        - unless session[:recruiter][:profile_1].nil?
          %option{ :value =>'2' }
            = session[:recruiter][:profile_1][:title]
        - unless session[:recruiter][:profile_2].nil?
          %option{ :value =>'3' }
            = session[:recruiter][:profile_2][:title]
        - unless session[:recruiter][:profile_3].nil?
          %option{ :value =>'4' }
            = session[:recruiter][:profile_3][:title]
  %li.nav-header
    %i.icon-comment
    Conversations
    %li#carole_d{ :class => active?('recruiter_conversations') }
      %a{ :href => recruiter_conversations_path } Carole Delhens
    %li#caroline_b{ :class => active?('recruiter_conversations2') }
      %a{ :href => recruiter_conversations2_path } Caroline Berne
    %li#mathieu_t{ :class => active?('recruiter_conversations3') }
      %a{ :href => recruiter_conversations3_path } Mathieu Tessier
    %li#vincent_v{ :class => active?('recruiter_conversations4') }
      %a{ :href => recruiter_conversations4_path } Vincent Vachez
  %li.nav-header
    %i.icon-share
    Sharings
    %li{ :class => active?('recruiter_sharings') }
      %a{ :href => recruiter_sharings_path } Franck Sabattier
    %li{ :class => active?('recruiter_conversations2') }
    %li{ :class => active?('recruiter_conversations3') }
    