%ul.nav.nav-list.well
  .control-group
    .controls
      %select#select01.span2
        %option All roles
        %option Graphic designer
        %option Mobile developer
        %option Project manager
  %li.nav-header
    %i.icon-comment
    Conversations
    %li{ :class => active?('recruiter_conversations') }
      %a{ :href => recruiter_conversations_path } Carole Delhens
    %li{ :class => active?('recruiter_conversations2') }
      %a{ :href => recruiter_conversations2_path } Caroline Berne
    %li{ :class => active?('recruiter_conversations3') }
      %a{ :href => recruiter_conversations3_path } Mathieu Tessier
    %li{ :class => active?('recruiter_conversations4') }
      %a{ :href => recruiter_conversations4_path } Vincent Vachez
  %li.nav-header
    %i.icon-retweet
    Sharings
    %li{ :class => active?('recruiter_sharings') }
      %a{ :href => recruiter_sharings_path } Franck Sabattier
    %li{ :class => active?('recruiter_conversations2') }
    %li{ :class => active?('recruiter_conversations3') }
    