- if session[:mode] != 'demo'
  %ul.nav.nav-pills
    %li{ :class => "#{'active' if request.fullpath.include?('candidate_profile')}" }
      = link_to 'Profile', candidate_profile_path
    %li{ :class => "#{'active' unless request.fullpath.include?('candidate_profile') || request.fullpath.include?('signup')}" }
      = link_to 'Interactions', candidate_conversations_path
