- if level == 'beginner'
  .progress.progress-striped
    .bar{ :style => 'width:40%' }
- elsif level == 'intermediate'
  .progress.progress-striped
    .bar{ :style => 'width:60%' }
- elsif level == 'advanced'
  .progress.progress-striped.progress-success
    .bar{ :style => 'width:80%' }
- elsif level == 'expert'
  .progress.progress-striped.progress-warning
    .bar{ :style => 'width:100%' }