%ul.nav.nav-pills
  %li{ :class => active?('candidate_profile_public') }
    = link_to 'Candidate public profile', candidate_profile_public_path
  %li{ :class => active?('candidate_profile_sent') }
    = link_to 'Profile sent by candidate', candidate_profile_sent_path
  %li{ :class => active?('candidate_interactions') }
    = link_to 'Interactions', candidate_interactions_path
  %li{ :class => active?('recruiter_profile') }
    = link_to 'Recruiter profile', recruiter_profile_path
  