= render 'shareable_menu'

.span12
  .row
    .span2
      .row
        %ul.nav.nav-list.well
          %li.nav-header
            %i.icon-comment
            Conversations
          %li.active
            %a Dominic Matheron, Viadeo
          
    .span10
      .row
        .span5.offset1
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 Dominic Matheron is looking for:
      .row
        .span4.offset1
          .row
            .span1
              = image_tag 'default_user.jpg'
            .span2
              %h3 Mobile developer
              %p Amsterdam, Netherlands
          %br/
          .row
            .span3
              %span.label.label-inverse iOS
              %span.label.label-inverse ANDROID
              %span.label.label-inverse MOBILE JQUERY
              %span.label.label-inverse EXTREMELY RIGOUROUS
              %span.label.label-inverse PASSION FOR PROGRAMMING
              %span.label.label-inverse VISUAL EYE
          %br/
          .row
            .span1
              %span.label.label-warning Experience
              %br/
              .lead 2 yrs at least
            .span2
              %span.label.label-warning Education
              %br/
              .lead Bachelor in some serious school
                    
      .row
        .span7.offset1
          .alert.alert-success
            %i.icon-ok
              You told Dominic Matheron that you match this profile.
              
      
      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('wansa.jpg'), recruiter_profile_path
              .span3
                %h5 Type your message:
                %textarea.input-xlarge{ :rows => '4' }
                %button.btn.btn-primary{ :type => 'submit' } Send
                %button.btn Clear
                