%br/
.header
  %h1 Complete you profile!
%br/

%form{ :action => candidate_profile_path, :method => 'POST' }
  .row
    .span5
      .card
        .row
          .span4.well
            .row
              .span1
                = image_tag('default_user.jpg', :id => 'candidate_picture')
              .span3
                %input#candidate_full_name{ :type => 'text', :placeholder => 'Full name', :style => 'height:13px; font-size:15px', :name => '[candidate][full_name]' }
                %br/
                %input#candidate_city.input-small{    :type => 'text', :placeholder => 'City', :style => 'height:9px; margin-top: -4px; font-size:15px;', :name => '[candidate][city]' }
                %input#candidate_country.input-small{ :type => 'text', :placeholder => 'Country', :style => 'width: 105px; height:9px; margin-top: -4px; font-size:15px;', :name => '[candidate][country]' }
                %input#candidate_role.input-small{    :type => 'text', :placeholder => 'Role', :style => 'height:9px; margin-top: -4px; font-size:15px;', :name => '[candidate][role]' }
                %input#candidate_company.input-small{ :type => 'text', :placeholder => 'Company', :style => 'width: 105px; height:9px; margin-top: -4px; font-size:15px;', :name => '[candidate][company]' }
                
        .row
          .span1.well
            %h6
              Experience
            %input#candidate_experience{ :type => 'text', :style => 'height:30px; width:40px; margin-bottom:0;  font-size:30px; font-weight:bold', :name => '[candidate][experience]' }
            %h2 yrs
          .span3.well{ :style => 'padding-right:0' }
            %h6 
              Highest Education
            %textarea#candidate_education.lead{ :rows => 2, :style => 'margin-bottom:12px; width:240px;', :name => '[candidate][education]' }
            %br/
        .row
          .span4.well{ style: 'padding-bottom:0' }
            %h6
              Skills
            .lead
              .row
                .span3
                  %input#candidate_pro_skill_1{ :type => 'text', :name => '[candidate][pro_skill_1][name]', :style => 'font-size:15px' }
                  .icon-star-empty#candidate_pro_skill_star_1
                .span1
                  %select#candidate_pro_skill_level_1.select-level{ :name => '[candidate][pro_skill_1][level]'}
                    %option{ :value => 'beginner' } Beginner
                    %option{ :value => 'intermediate' } Intermediate
                    %option{ :value => 'advanced' } Advanced
                    %option{ :value => 'expert' } Expert
              .row
                .span3
                  %input#candidate_pro_skill_2{ :type => 'text', :name => '[candidate][pro_skill_2][name]', :style => 'font-size:15px' }
                  .icon-star-empty#candidate_pro_skill_star_2
                .span1
                  %select#candidate_pro_skill_level_2.select-level{ :name => '[candidate][pro_skill_2][level]'}
                    %option{ :value => 'beginner' } Beginner
                    %option{ :value => 'intermediate' } Intermediate
                    %option{ :value => 'advanced' } Advanced
                    %option{ :value => 'expert' } Expert
              .row
                .span3
                  %input#candidate_pro_skill_3{ :type => 'text', :name => '[candidate][pro_skill_3][name]', :style => 'font-size:15px' }
                  .icon-star-empty#candidate_pro_skill_star_3
                .span1
                  %select#candidate_pro_skill_level_3.select-level{ :name => '[candidate][pro_skill_3][level]'}
                    %option{ :value => 'beginner' } Beginner
                    %option{ :value => 'intermediate' } Intermediate
                    %option{ :value => 'advanced' } Advanced
                    %option{ :value => 'expert' } Expert
              
        .row
          .span4.well{ style: 'padding-bottom:0' }
            %h6 
              Qualities
            .lead
              .row
                .span3
                  %input#candidate_inter_skill_1{ :type => 'text', :name => '[candidate][inter_skill_1][name]', :style => 'font-size:15px' }
                  .icon-star-empty#candidate_inter_skill_star_1
                .span1
                  %select#candidate_inter_skill_level_1.select-level{ :name => '[candidate][inter_skill_1][level]' }
                    %option{ :value => 'beginner' } Beginner
                    %option{ :value => 'intermediate' } Intermediate
                    %option{ :value => 'advanced' } Advanced
                    %option{ :value => 'expert' } Expert
              .row
                .span3
                  %input#candidate_inter_skill_2{ :type => 'text', :name => '[candidate][inter_skill_2][name]', :style => 'font-size:15px' }
                  .icon-star-empty#candidate_inter_skill_star_2
                .span1
                  %select#candidate_inter_skill_level_2.select-level{ :name => '[candidate][inter_skill_2][level]'}
                    %option{ :value => 'beginner' } Beginner
                    %option{ :value => 'intermediate' } Intermediate
                    %option{ :value => 'advanced' } Advanced
                    %option{ :value => 'expert' } Expert
              .row
                .span3
                  %input#candidate_inter_skill_3{ :type => 'text', :name => '[candidate][inter_skill_3][name]', :style => 'font-size:15px' }
                  .icon-star-empty#candidate_inter_skill_star_3
                .span1
                  %select#candidate_pro_skill_level_1.select-level{ :name => '[candidate][inter_skill_3][level]'}
                    %option{ :value => 'beginner' } Beginner
                    %option{ :value => 'intermediate' } Intermediate
                    %option{ :value => 'advanced' } Advanced
                    %option{ :value => 'expert' } Expert
    
    .span5.offset1
      .lead
        Import your information from
        %strong LinkedIn
        or
        %strong Facebook
      %a.btn.btn-large{ "data-toggle" => 'modal', :href => '#linkedin-modal' } Import from Linkedin
      &nbsp;
      %a.btn.btn-large{ "data-toggle" => 'modal', :href => '#facebook-modal' } Import from Facebook
      %br/
      %br/
      %br/   
      %br/
      %br/
      %br/       
      %br/
      %br/
      %br/
      %br/
      %br/
      .row
        .span5
          %textarea#candidate_catchphrase.lead{ :placeholder => 'Describe your goals, or your motto.', :rows => 4, :style => 'width:450px;', :name => '[candidate][catchphrase]' }
          .pull-right
            %button.btn.btn-gigantic.btn-primary{ :type => 'submit' } Save your profile!

.modal.hide#facebook-modal
  .modal-header
    %button.close{ :type => 'button', "data-dismiss" => 'modal' } ×
    %h3
      = image_tag 'facebook.png', :style => 'margin-right:5px'
      Import from Facebook
  .modal-body
    %input{ :type => 'text', :placeholder => 'Email address' }
    %br/
    %input{ :type => 'password', :placeholder => 'Password' }
  .modal-footer
    %a.btn{ :href => '#', "data-dismiss" => 'modal' } Close
    %a.btn.btn-primary{ :href => '#', :onclick => "$('#facebook-modal').modal('hide'); import_data('candidate')" } Sign in
    
.modal.hide#linkedin-modal
  .modal-header
    %button.close{ :type => 'button', "data-dismiss" => 'modal' } ×
    %h3
      = image_tag 'linkedin.png', :style => 'margin-right:5px'
      Import from LinkedIn
  .modal-body
    %input{ :type => 'text', :placeholder => 'Email address' }
    %br/
    %input{ :type => 'password', :placeholder => 'Password' }
  .modal-footer
    %a.btn{ :href => '#', "data-dismiss" => 'modal' } Close
    %a.btn.btn-primary{ :href => '#', :onclick => "$('#linkedin-modal').modal('hide'); import_data('candidate')" } Sign in
  
