= render 'shareable_menu'

.span12
  .row
    .span2
      .row
        %ul.nav.nav-list.well
          %li.nav-header
            %i.icon-comment
            Conversations
          %li.active
            %a Wansa Sooksomwat
          
    .span8
      .row
        .span7.offset1
          .alert.alert-danger
            %i.icon-remove
              You told Wansa Sooksomwat you were not interested in her profile.

      .row
        .span5.offset3
          .well
            .row
              .span1
                = link_to image_tag('dom.jpg'), recruiter_profile_path
              .span3
                %h5 Type your message:
                %textarea.input-xlarge{ :rows => '4' }
                %button.btn.btn-primary{ :type => 'submit' } Send
                %button.btn Clear  
