// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

th, td {
  width: 24%;
  height: 30px;
  text-align: left;
}

.service {
  margin: 0 2px 4px 0;
  width: 40px;
  height: 40px;
  display: inline-block;
}